<mjml>
  <mj-head>
    <mj-title>Hello MJML</mj-title>
  </mj-head>
  <mj-body background-color="gainsboro" width="600px">
    <mj-section 
      background-color="khaki" 
      padding="8px 16px 24px 32px" 
      border="solid 2px black" 
    >
      <mj-column 
        background-color="skyblue" 
        padding="8px 16px 24px 32px" 
        border="solid 2px black"
      >
        <mj-text 
          font-size="32px" 
          font-weight="bold" 
          align="center"
          padding="0"
          container-background-color="antiquewhite"
        >
          32px太字
        </mj-text>
        <mj-text 
          font-size="24px" 
          font-weight="" 
          align="center"
          css-class=""
          padding="0"
          container-background-color="honeydew"
        >
          24px
        </mj-text>
        <mj-text 
          font-size="16px" 
          font-weight="" 
          align="left"
          padding="0"
          container-background-color="papayawhip"
        >
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </mj-text>
      </mj-column>

    </mj-section>

    <mj-section 
      background-color="gold" 
      padding="8px 16px 24px 32px" 
      border="solid 2px black" 
    >
      <mj-column 
        background-color="skyblue" 
        padding="8px 16px 24px 32px" 
        border="solid 2px black"
      >
        <mj-text 
          font-size="32px" 
          font-weight="bold" 
          align="center"
          padding="0"
        >
          32px太字
        </mj-text>
        <mj-text 
          font-size="24px" 
          font-weight="" 
          align="center"
          css-class=""
          padding="0"
        >
          24px
        </mj-text>
        <mj-text 
          font-size="16px" 
          font-weight="" 
          align="left"
          padding="0"
        >
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </mj-text>
      </mj-column>
      <mj-column 
        background-color="deepskyblue" 
        padding="8px 16px 24px 32px" 
        border="solid 2px black"
      >
        <mj-text 
          font-size="32px" 
          font-weight="bold" 
          align="center"
          padding="0"
        >
          32px太字
        </mj-text>
        <mj-text 
          font-size="24px" 
          font-weight="" 
          align="center"
          css-class=""
          padding="0"
        >
          24px
        </mj-text>
        <mj-text 
          font-size="16px" 
          font-weight="" 
          align="left"
          padding="0"
        >
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section 
      background-color="sandybrown" 
      padding="8px 16px 24px 32px" 
      border="solid 2px black" 
    >
      <mj-group width="40%">
        <mj-column 
          background-color="skyblue" 
          padding="8px 16px 24px 32px" 
          border="solid 2px black"
        >
          <mj-text 
            font-size="32px" 
            font-weight="bold" 
            align="center"
            padding="0"
          >
            32px太字
          </mj-text>
          <mj-text 
            font-size="24px" 
            font-weight="" 
            align="center"
            css-class=""
            padding="0"
          >
            24px
          </mj-text>
          <mj-text 
            font-size="16px" 
            font-weight="" 
            align="left"
            padding="0"
          >
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </mj-text>
        </mj-column>
      </mj-group>
      <mj-group width="60%">
        <mj-column 
          background-color="deepskyblue" 
          padding="8px 16px 24px 32px" 
          border="solid 2px black"
        >
          <mj-text 
            font-size="32px" 
            font-weight="bold" 
            align="center"
            padding="0"
          >
            32px太字
          </mj-text>
          <mj-text 
            font-size="24px" 
            font-weight="" 
            align="center"
            css-class=""
            padding="0"
          >
            24px
          </mj-text>
          <mj-text 
            font-size="16px" 
            font-weight="" 
            align="left"
            padding="0"
          >
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </mj-text>
        </mj-column>
        <mj-column 
          background-color="cornflowerblue" 
          padding="8px 16px 24px 32px" 
          border="solid 2px black"
        >
          <mj-text 
            font-size="32px" 
            font-weight="bold" 
            align="center"
            padding="0"
          >
            32px太字
          </mj-text>
          <mj-text 
            font-size="24px" 
            font-weight="" 
            align="center"
            css-class=""
            padding="0"
          >
            24px
          </mj-text>
          <mj-text 
            font-size="16px" 
            font-weight="" 
            align="left"
            padding="0"
          >
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </mj-text>
        </mj-column>
      </mj-group>
    </mj-section>

    <mj-section
      background-color="cyan" 
      border="solid 2px black" 
    >
      <mj-column
        background-color="lightgreen" 
        padding="0px" 
        border="solid 2px black"
      >
        <mj-image width="200px" src="./img/cat01.png" padding="0px" />
        <mj-image width="200px" src="./img/cat02.png" padding="0px" />
      </mj-column>
    </mj-section>

    <mj-section
    >
      <mj-column
        background-color="lightgreen" 
        padding="0px" 
        border="solid 2px black"
      >
        <mj-image width="200px" src="./img/cat01.png" padding="0px" />
      </mj-column>
      <mj-column
        background-color="springgreen" 
        padding="0px" 
        border="solid 2px black"
      >
        <mj-image width="200px" src="./img/cat02.png" padding="0px" />
      </mj-column>
    </mj-section>

    <mj-section
      background-color="cyan"  
      border="solid 2px black" 
    >
    <mj-group>
      <mj-column
        background-color="lightgreen" 
        padding="0px" 
        border="solid 2px black"
        width="40%"
      >
        <mj-image width="200px" src="./img/cat01.png" padding="0px" />
      </mj-column>
      <mj-column
        background-color="springgreen" 
        padding="0px" 
        border="solid 2px black"
        width="60%"
      >
        <mj-image width="200px" src="./img/cat02.png" padding="0px" />
      </mj-column>
    </mj-group>
    </mj-section>
     <mj-section
      background-color="cyan" 
      padding="10px"
      border="solid 2px black" 
    >
      <mj-column
        background-color="lightgreen" 
        padding="10px" 
        border="solid 2px black"
      >
        <mj-text align="center" container-background-color="honeydew">
          <img 
            src="./img/cat03.png" 
            width="100px" 
            style="background:pink; padding:16px; margin:16px; display: block;"
          />
          <img 
            src="./img/cat04.png" 
            width="100px" 
            style="background:pink; margin:16px; display: block;"
          />
        </mj-text>
        <mj-text align="center" container-background-color="oldlace">
          <img 
            src="./img/cat05.png" 
            width="100px" 
            style="background:pink; padding:16px; margin:16px; display: inline-block;"
          />
          <img 
            src="./img/cat06.png" 
            width="100px" 
            style="background:pink; margin:16px; display: inline-block;"
          />
        </mj-text>
        <mj-text align="center" container-background-color="mistyrose">
          <img 
            src="./img/cat07.png" 
            width="100px" 
            style="background:pink; padding:16px; margin:16px; display: inline;"
          />
          <img 
            src="./img/cat08.png" 
            width="100px" 
            style="background:pink; margin:16px; display: inline;"
          />
        </mj-text>
      </mj-column>
    </mj-section>

  </mj-body>
</mjml>
